"*":
  core: {}
  docblockr: {}
  editor:
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "2d534536-8dac-faf2-26f5-00500d183066"
  fonts:
    fontFamily: "Fira Mono"
  "linter-phpcs":
    codeStandardOrConfigFile: "Chas"
    includePatterns: [
      "source.js"
      "source.php"
    ]
  "symbols-tree-view": {}
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
